{% extends 'siteLayout.html' %}

{% block title %}Password reset link sent to your mail box{% endblock %}

{% block content %}
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="panel panel-site" style="border-top: none; border-right: none">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1 class="fg-site"><b>Password reset link sent to your mail box</b></h1>
                                  <p class="lead">
                                    We've emailed you instructions for resetting your password, if an account exists with the email you entered.
                                    You should receive them shortly.
                                  </p>
                                  <p class="lead">
                                    If you don't receive an email, please make sure you've entered the address you registered with,
                                    and check your spam folder.
                                  </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}