{% extends 'authusers/main.html' %}

{% block title %}About  Panther Es{% endblock %}

{% load static %}	
{% block content %}
	<ul>
		<h3>Election Details</h3>
		<table class="table table-stripped text-secondary">
			<thead>
				<tr>
					<th>Name</th>
					<th>Voters Type</th>
					<th> Electors Type </th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>
							{{ election.name }}
						</td>
						<td>
							{{ election.voterType }}
						</td>
						<td>
							{{ election.electorType }}
						</td>
					</tr>
			</tbody>
		</table>
	</ul>
	<div class="container">
		<table class="table table-stripped text-secondary">
			<thead>
				<tr>
					<th>Post</th>
					<th>Candidates</th>
				</tr>
			</thead>
			<tbody>
				{%  if posts %}
					{% for post in posts %}
					<tr>
						<td>
							{{ post.name }}
						</td>
						<td>

							{% if candidates %}
								<table class="table table-stripped">
										<div class="row">
										{% for candidate in candidates %}

												{% if post.idPosition == candidate.position_id %}
													<div class="col-md-3 ">
														<div class="card">
															<div class="card-header">
																<h4 class="card-title">{{ candidate.user }}</h4>
  																<a href="{% url 'authusers:vote' candidate.idCandidate %}" class="card-link text-danger"><span class=" glyphicon glyphicon-heart" aria-hidden="true">Vote 💚</span></a>
															</div>
  															<div class="card-body">
  																<img class="card-img-top" src="{% static 'images/'%}{{ candidate.userid_id }}"  alt="Profile pic" style="width:100%">
  															</div>
  															{% if votes %}
  															<div class="card-footer">
  																
																	{% for vote in votes %}
																		{% if vote.candidate_id == candidate.idCandidate %}
																		{% if user.id == vote.user_id%}
																				<div class="text-info">You Voted {{ candidate.user }}</div>
																			
																		{% endif %}
																		{% endif %}	
																	{% endfor %}
  															</div>
  															{% endif %}
  														</div>
													</div>
												{% endif %}
										{% endfor %}
									</div>
								</table>
							{% else %}
								There are no Candidates yet for this Elections
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				{% else %}
					<tr>
						There are no positions yet for the election
					</tr>
				
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock content %}