{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Panther - Electoral System{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
         <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
    </head> rel="stylesheet" href="{% static 'css/site.css' %}">
    </head>
      <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">Panther - Electoral System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authusers:home' %}"><span>Home</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authusers:elections' %}"><span></span> Elections</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authusers:results' %}"><span></span> Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

         <div>
              {% block content %}Empty page!{% endblock content %}
          </div>

          
      </body>
      <br><br><br>
          <footer class="footer bg-dark" style="position: relative;">
            <div class="container-fluid">
              <span class="text-basic">Powered by Mondjo Perside & Nges Brian</span></div>
          </footer>
       
</html>
