{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Panther - Electoral System{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
         <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
    </head>
      <body>

        <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">Panther - Electoral System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class= "collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto nav navbar-right">
                <li class="active nav-item">
                  <a class="nav-link" href="{% url 'voting:index' %}">Home</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in">
                    </span> Login
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'voting:about' %}">
                    <span class="glyphicon glyphicon-pencil"></span> About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'voting:contact' %}">
                    <span class="glyphicon glyphicon-envelope"></span> Contact
                 </a>
               </li>
              </ul>
            </div>
          </div>
        </nav>

         <div class="">
              {% block content %}Empty page!{% endblock content %}
          </div>

          <!--div class="footer container-fluid ">
                          <div class="col-sm-2">
                              <div class="pull-left" id="google_translate_element"></div>
                              <!--script type="text/javascript">
                                  function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'fr,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                                  }
                              </script-->
                              <!--script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script-->
                          <!--/div>
                          <div class="col-sm-6 ">
                              <p class="text-center lead">
                                  <a class="fg-site" href="#" title="Online voting system">
                                      <span>&copy; PES 2018</span>
                                  </a> ||
                                  <a class="fg-site" href="about" title="About us">About</a> ||
                                  <a class="fg-site" href="contact" title="Contact us">Contact</a> ||
                                  <a class="fg-site" href="signup" title="About us">Signup</a> ||
                                  <a class="fg-site" href="login" title="Contact us">Login</a> ||
                              </p>
                          </div>
                          <div class="col-sm-4">
                              <p class="lead pull-right">
                                  Powered by <span class="fg-site">Tech Panther </span>
                              </p>
                          </div>
          </div-->
      </body>
       
</html>